<a href="{% url 'student1_excel' %}" class="btn btn-primary">Download Student Excel</a><br>
<a href="{% url 'staff2_excel' %}" class="btn btn-primary">Download Staff Excel</a><br>
<a href="{% url 'parent1_excel' %}" class="btn btn-primary">Download Parent Excel</a><br>
<a href="{% url 'alumni1_excel' %}" class="btn btn-primary">Download Alumni Excel</a><br>
<a href="{% url 'academician1_excel' %}" class="btn btn-primary">Download Academic Excel</a><br>
<a href="{% url 'industry1_excel' %}" class="btn btn-primary">Download Industry Excel</a><br>

